/* Layout parents horizontally */
/* .categories-container {
  display: flex;
} */

/* Spacing between parent categories */
/* .parent-category {
  margin-right: 20px;
} */

/* Layout children vertically */
/* .child-categories {
  display: flex;
  flex-direction: column;
} */

/* Spacing between child categories */
/* .child-category {
  margin-bottom: 10px;
} */

/* .categories-container .rct-node {
  flex-wrap: wrap;
}

.categories-container .rct-node .rct-node-parent {
  display: inline-flex;
  margin-right: 20px;
} */